<template>
	<div>
		<p><UiTestButton>TEST</UiTestButton></p>
		<p><UiMButton
			:to="'#'"
			red
			class="m-large-banner-slide__btn"
			:large="true"
			label="Заказать"
		/></p>
	</div>
</template>
