@mixin reset-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  border-style: none;
  outline-style: none;
  transition: background-color $transition;

  [disabled],
  .is-disabled {
    cursor: default;
  }
}

@mixin reset-link {
  color: $color-black;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

@mixin hide-scrollbar-but-scrolling {
  scrollbar-width: none;
  -webkit-overflow-scrolling: auto;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &::-webkit-scrollbar-track {
    display: none;
  }
}
