// fonts #######################################################################
// #############################################################################

$font-family-montserrat: "Montserrat", arial, sans-serif;
$font-size-text: 13px;

// colors ######################################################################
// #############################################################################

// base colors
$color-black: #101111;
$color-grey: #6c7475;
$color-grey2: #bbbec7;
$color-grey3: #bbc7c7;
$color-grey4: #e2e7ec;
$color-grey5: #eceef1;
$color-grey6: #f2f4f8;
$color-grey7: #f3f3f3;

$color-white: #fff;

$color-pink: #d01481;
$color-pink2: #f49ac1;
$color-pink3: #ffedf5;

$color-orange: #e9642f;
$color-orange2: #ee7646;
$color-orange3: #f6b18f;
$color-orange4: #ffe0d0;
$color-orange5: #fef2ec;

$color-green: #2db854;

$color-blue: #0071c2;

$color-red: #e6000e;

$color-marine: #47bcc8;
$color-marine2: #99e0e8;

$color-yellow: #ffd500;
$color-yellow2: #fed731;

// semantic colors
$color-border: $color-grey3;
$color-text: $color-black;
$color-brand: $color-red;

// status colors
$color-error: $color-orange;
$color-success: $color-green;
$color-warning: $color-grey;

$color-backdrop: rgba($color-black, 0.4);

$box-shadow: 0 0 2px rgba(0, 0, 0, 0.05),
  0 4px 6px rgba(0, 0, 0, 0.1),
  0 6px 8px rgba(0, 0, 0, 0.05);

// breakpoints #################################################################
// #############################################################################

$breakpoint-large: 1366px;
$breakpoint-desktop: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 375px;

// все что больше чем breakpoint-xxx
// $media-bp-gt-large: "(min-width: #{...})";
$media-bp-gt-desktop: "(min-width: #{$breakpoint-large})";
$media-bp-gt-tablet: " (min-width: #{$breakpoint-desktop})";
$media-bp-gt-mobile: " (min-width: #{$breakpoint-tablet})";

// все что меньше чем breakpoint-xxx
$media-bp-lt-large: "  (max-width: #{$breakpoint-large - 1})";
$media-bp-lt-desktop: "(max-width: #{$breakpoint-desktop})";
$media-bp-lt-tablet: " (max-width: #{$breakpoint-tablet - 1})";
$media-bp-lt-mobile: " (max-width: #{$breakpoint-mobile - 1})";

// все что попало в границы breakpoint-xxx
$media-bp-only-large: "  #{$media-bp-gt-desktop}";
$media-bp-only-desktop: "#{$media-bp-gt-tablet} and (max-width: #{$breakpoint-large - 1})";
$media-bp-only-tablet: " #{$media-bp-gt-mobile} and (max-width: #{$breakpoint-desktop - 1})";
$media-bp-only-mobile: "                            (max-width: #{$breakpoint-tablet - 1})";

// z-index layers #######################################################################
// #############################################################################

$z-index-modal: 100;
$z-index-drawer: 60;
$z-index-tooltip: 50;
$z-index-catalog-menu: 10;

// utils #######################################################################
// #############################################################################

$transition-duration: 0.5s;
$transition: $transition-duration ease;

$transition-duration-fast: 0.5s / 2;
$transition-fast: $transition-duration-fast ease;

$radius: 8px;
