<template>
  <component
    :is="to ? 'nuxt-link' : $attrs.href ? 'a' : tag ? tag : 'button'"
    v-bind="$attrs"
    :tag="tag"
    :to="to"
    class="m-button"
    :class="classes"
    v-on="$listeners"
  >
    <span class="m-button__inner">
      <slot>{{ label }}</slot>
    </span>

    <component
      :is="loadingType === 'round' ? 'MSpinnerRound' : 'MSpinnerDots'"
      v-if="loading"
      :red="yellow"
      :light="!yellow && !black"
      :inverse="black"
      absolute
    />
  </component>
</template>

<script>
const MSpinnerRound = () => import(
  /* webpackChunkName: "MSpinnerRound" */
  './MSpinnerRound.vue'
)

const MSpinnerDots = () => import(
  /* webpackChunkName: "MSpinnerDots" */
  './MSpinnerDots.vue'
)

export default {
  name: 'MButton',
  components: {
    MSpinnerRound,
    MSpinnerDots,
  },
  inheritAttrs: false,
  props: {
    tag: String,
    to: [String, Object],
    href: String,
    label: String,

    block: Boolean,
    square: Boolean,
    outline: Boolean,
    large: Boolean,
    link: Boolean,
    inverse: Boolean,
    text: Boolean,

    red: Boolean,
    black: Boolean,
    yellow: Boolean,

    light: Boolean,
    disabled: Boolean,
    readonly: Boolean,
    loading: Boolean,
    loadingType: {
      type: String,
      default: 'round',
      validator: (prop) => [true, false, 'round', 'dots'].includes(prop),
    },
    centered: Boolean,
  },
  computed: {
    classes() {
      return {
        'm-button-type--square': this.square,
        'm-button-type--outline': this.outline,
        'm-button-type--large': this.large,
        'm-button-type--link': this.link,
        'm-button-type--block': this.block,
        'm-button-type--inverse': this.inverse,
        'm-button-type--text': this.text,

        'm-button-color--red': this.red,
        'm-button-color--black': this.black,
        'm-button-color--yellow': this.yellow,

        'is-light': this.light,
        'is-readonly': this.readonly || this.loading,

        'is-disabled': this.disabled,
        'is-loading': this.loading,
        'is-centered': this.centered,
      }
    },
  },
}
</script>

<style lang="scss">
@mixin paint($color, $bg-color, $border-color: false) {
  color: $color;
  background-color: $bg-color;

  @if ($border-color) {
    border: 1px solid $border-color;
  }
}

$min-height: 36px;
$min-height-large: 50px;

.m-button {
  @include reset-button;
  $root: &;

  position: relative;
  min-height: $min-height;
  padding: 8px 15px;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  border-radius: 8px 0;
  outline-style: none;
  transition:
    color $transition-fast,
    background-color $transition-fast,
    border-color $transition;

  @include paint(
    currentColor,
    $color-grey6,
  );

  &:hover {
    @include paint(
      currentColor,
      $color-white,
    );
  }

  @at-root &-color {
    &--red {
      @include paint(
        $color-white,
        $color-red,
        $color-red,
      );

      &:hover {
        @include paint(
          $color-white,
          mix($color-red, $color-white, 85%),
          mix($color-red, $color-white, 85%),
        );
      }
    }

    &--black {
      @include paint(
        $color-white,
        $color-black,
        $color-black,
      );

      &:hover {
        @include paint(
          $color-white,
          mix($color-black, $color-white, 85%),
          mix($color-black, $color-white, 85%),
        );
      }
    }

    &--yellow {
      @include paint(
        $color-black,
        $color-yellow2,
        $color-yellow2,
      );

      &:hover {
        @include paint(
          $color-black,
          mix($color-yellow2, $color-white, 85%),
          mix($color-yellow2, $color-white, 85%),
        );
      }
    }
  }

  @at-root &-type {
    &--square {
      border-radius: 0;
    }

    &--outline {
      @include paint(
        $color-black,
        transparent,
        $color-black,
      );

      &:hover {
        @include paint(
          currentColor,
          transparent,
          $color-grey2,
        );
      }

      &.is-disabled {
        @include paint(currentColor, currentColor);

        color: $color-grey2;
        background-color: transparent;
      }
    }

    &--large {
      min-height: $min-height-large;
      // padding: 14px 32px;
      font-size: 16px;
      font-weight: bold;
      line-height: 20px;
    }

    &--link {
      @include paint(
        $color-blue,
        transparent,
        $color-grey5,
      );

      text-decoration: none;

      &:hover {
        @include paint(
          $color-blue,
          transparent,
          $color-blue,
        );
      }

      &.is-disabled {
        @include paint(
          $color-grey2,
          transparent,
          transparent,
        );
      }
    }

    &--block {
      display: block;
    }

    &--inverse {
      @include paint(
        currentColor,
        $color-white,
      );

      &:hover {
        @include paint(
          currentColor,
          $color-grey6,
        );
      }
    }

    &--text {
      @include paint(
        $color-black,
        transparent,
      );

      text-decoration: none;

      &:hover {
        @include paint(
          $color-black,
          transparent,
        );
      }

      &.is-disabled {
        @include paint(
          $color-grey2,
          transparent,
          transparent,
        );
      }
    }
  }

  @at-root &.is-light {
    font-weight: 500;
  }

  @at-root &.is-readonly {
    pointer-events: none;
  }

  /* Всегда внизу */
  &.is-disabled {
    @include paint(
      $color-white,
      $color-grey2,
      $color-grey2,
    );

    pointer-events: none;
  }

  &__inner {
    width: 100%;

    #{$root}.is-loading & {
      opacity: 0;
    }

    #{$root}.is-centered & {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
</style>
