<template>
  <div
    :class="classes"
    :style="{ width: `${size}px`, height: `${size}px` }"
    class="m-spinner-round"
  >
    <span
      :style="{ animationDuration: duration }"
      class="m-spinner-round__spinner"
    />
  </div>
</template>

<script>
export default {
  name: 'MSpinnerRound',
  props: {
    size: {
      type: Number,
      default: 30,
    },
    duration: {
      type: String,
      default: '1.2s',
    },
    absolute: Boolean,
    red: Boolean,
    light: Boolean,
    inverse: Boolean,
  },
  computed: {
    classes() {
      return {
        'is-absolute': this.absolute,
        'is-color--red': this.red,
        'is-color--light': this.light,
        'is-color--inverse': this.inverse,
      }
    },
  },
}
</script>

<style lang="scss">
$padding: 4px;

@mixin color($color) {
  border: 2px solid $color;
  border-color: $color transparent $color transparent;
}

.m-spinner-round {
  $root: &;

  display: inline-block;
  padding: $padding;

  &.is-absolute {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }

  &__spinner {
    @include color($color-black);

    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: m-loader-spin linear infinite;

    #{$root}.is-color--light & {
      @include color($color-grey2);
    }

    #{$root}.is-color--red & {
      @include color($color-red);
    }

    #{$root}.is-color--inverse & {
      @include color($color-white);
    }
  }
}

@keyframes m-loader-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
</style>
