<template>
  <div
    :class="classes"
    :style="{ height: `${size}px` }"
    class="m-spinner-dots"
  >
    <div
      v-for="i in 3"
      v-once
      :key="i"
      :style="{
        animationDuration: duration,
        width: `${size / 3}px`,
        height: `${size / 3}px`,
      }"
      :class="`m-spinner-dots__bounce is-${i}`"
    />
  </div>
</template>

<script>
export default {
  name: 'MSpinnerDots',
  props: {
    size: {
      type: Number,
      default: 32,
    },
    duration: {
      type: String,
      default: '1.2s',
    },
    absolute: Boolean,
    red: Boolean,
    light: Boolean,
    inverse: Boolean,
  },
  computed: {
    classes() {
      return {
        'is-absolute': this.absolute,
        'is-color--red': this.red,
        'is-color--light': this.light,
        'is-color--inverse': this.inverse,
      }
    },
  },
}
</script>

<style lang="scss">
.m-spinner-dots {
  $root: &;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  &.is-absolute {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }

  &__bounce {
    display: inline-block;
    flex-shrink: 0;
    margin: 3px;
    background-color: $color-black;
    border-radius: 100%;
    animation: m-spinner-dots-bounce infinite ease-in-out both;

    #{$root}.is-color--light & {
      background-color: $color-grey2;
    }

    #{$root}.is-color--red & {
      background-color: $color-red;
    }

    #{$root}.is-color--inverse & {
      background-color: $color-white;
    }

    &.is-1 {
      animation-delay: -0.32s;
    }

    &.is-2 {
      animation-delay: -0.16s;
    }
  }
}

@keyframes m-spinner-dots-bounce {
  0%,
  80%,
  100% {
    transform: scale(0);
  }

  40% {
    transform: scale(1);
  }
}
</style>
