<template>
	<button class="test-button" @click="handler">
		<slot>TEST BUTTON</slot>
	</button>
</template>

<script>
export default {
	name: "TestButton",
	methods: {
		handler() {
			alert('Test button clicked')
		}
	}
}
</script>

<style lang="scss">
$test-color1: wheat;
//$color-blue: blue; // переменная берется из глобальных scss переменных, если таких нет - раскомментировать.
.test-button{
	padding: 5px 10px;
	border-radius: 50px;
	color: $test-color1;
	background: $color-blue;
}
</style>